<mat-toolbar color="primary" class="mat-elevation-z2">
  <h1>Uniswap ROI Calculator</h1>
  <mat-icon>calculate</mat-icon>
</mat-toolbar>
<main>
  <app-connect-button></app-connect-button>

  <article class="search-bar">
    <mat-form-field appearance="outline">
      <mat-label>Type in pool address</mat-label>
      <input matInput [formControl]="searchCtrl" type="text" autocomplete="off">
      <mat-error *ngIf="searchCtrl.hasError('pattern')">This is not a valid Ethereum address</mat-error>
    </mat-form-field>
    <ng-container *ngIf="loading.asObservable() | async; else search">
      <mat-spinner color="primary"></mat-spinner>
    </ng-container>
    <ng-template #search>
      <button mat-raised-button color="primary" (click)="searchPool()">Search for Pool <mat-icon>search</mat-icon>
      </button>
    </ng-template>
  </article>

  <!-- Inputs -->
  <article class="inputs" *ngIf="showInputs.asObservable() | async">


    <!-- Pool information -->

    <mat-card>
      <div class="pool-data">
        <ng-container *ngFor="let token of poolData.assets">
          <span>
            <strong>{{ token.symbol || 'No symbol provided' }}:</strong>
            {{ (this.poolData.usdLiquidity / 2) / token.balance | toFix }} $
          </span>
        </ng-container>
      </div>
      <div class="pool-data">
        <span><strong>Liquidity:</strong> {{ poolData.usdLiquidity | toFix: 2 }} $</span>
        <span><strong>Volume:</strong> {{ poolData.usdVolume | toFix: 2 }} $</span>
      </div>
    </mat-card>

    <h3 *ngIf="showInputs.asObservable() | async">👉 <a mat-button
        [href]="'https://etherscan.io/address/' + poolData.exchange" target="_blank"
        class="primary-color">{{poolData.poolName || 'Nothing found'}}</a></h3>

    <ng-container *ngFor="let asset of poolData.assets; let index = index">
      <mat-form-field appearance="outline">
        <mat-label>{{ asset.symbol }} price in USD</mat-label>
        <input matInput type="number" [formControl]="form.get('tokens').controls[index]" autocomplete="off"
          [min]="inputConfig[index].min" [max]="inputConfig[index].max">
      </mat-form-field>
    </ng-container>


    <mat-form-field appearance="outline">
      <mat-label>Investment in USD</mat-label>
      <input matInput type="number" [formControl]="form.get('investment')" autocomplete="off" min="1"
        [max]="poolData.usdLiquidity * 2">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Days in pool</mat-label>
      <input matInput type="number" [formControl]="form.get('days')" autocomplete="off" min="1" max="365">
    </mat-form-field>

    <span matTooltip="Average Daily Volume" class="tooltip">Volume: {{ form.get('volume').value | toFix }}</span>
    <div class="row">
      <mat-slider thumbLabel [displayWith]="formatLabel" [min]="inputConfig.volMin" [max]="inputConfig.volMax"
        color="primary" [formControl]="form.get('volume')"></mat-slider>
    </div>

    <span matTooltip="Liquidity in pool at the time of exit" class="tooltip">Liquidity:
      {{ form.get('liquidity').value | toFix }}</span>
    <div class="row">
      <mat-slider thumbLabel [displayWith]="formatLabel" [min]="inputConfig.liqMin" [max]="inputConfig.liqMax"
        color="primary" [formControl]="form.get('liquidity')"></mat-slider>
    </div>
  </article>


  <!-- Pool information -->

  <article class="pool-information" *ngIf="showInputs.asObservable() | async">
    <h1>ROI: {{ (roiResult.get('roiPool')) || poolData.roi }}%</h1>
  </article>

</main>
<footer></footer>