<mat-toolbar color="primary" class="mat-elevation-z2">
  <h1>Uniswap ROI Calculator</h1>
  <mat-icon>calculate</mat-icon>
</mat-toolbar>
<main>
  <app-connect-button></app-connect-button>

  <article class="search-bar">
    <mat-form-field appearance="outline">
      <mat-label>Type in pool address</mat-label>
      <input matInput [formControl]="searchCtrl" type="text" autocomplete="off">
      <mat-error *ngIf="searchCtrl.hasError('pattern')">This is not a valid Ethereum address</mat-error>
    </mat-form-field>
    <ng-container *ngIf="loading.asObservable() | async; else search">
      <mat-spinner color="primary"></mat-spinner>
    </ng-container>
    <ng-template #search>
      <button mat-raised-button color="primary" (click)="searchPool()">Search for Pool <mat-icon>search</mat-icon>
      </button>
    </ng-template>
  </article>

  <!-- Inputs -->
  <article class="inputs" *ngIf="showInputs.asObservable() | async">
    <mat-form-field appearance="outline">
      <mat-label>Investment in USD</mat-label>
      <input matInput type="number" [formControl]="form.get('investment')" autocomplete="off">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Days in pool</mat-label>
      <input matInput type="number" [formControl]="form.get('days')" autocomplete="off">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Eth price in USD</mat-label>
      <input matInput type="number" [formControl]="form.get('ethPrice')" autocomplete="off">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Token price in USD</mat-label>
      <input matInput type="number" [formControl]="form.get('tokenPrice')" autocomplete="off">
    </mat-form-field>

    <span>Liquidity: {{ form.get('liquidity').value | toFix }}</span>
    <div class="row">
      <mat-slider thumbLabel [displayWith]="formatLabel" [min]="sliderConfig.liqMin"
      [max]="sliderConfig.liqMax" color="primary" [formControl]="form.get('liquidity')"></mat-slider>
    <!--   <mat-form-field>
        <mat-label>Liquidity</mat-label>
        <input matInput type="number" [formControl]="form.get('liquidity')">
      </mat-form-field> -->
    </div>

    <span>Volume: {{ form.get('volume').value | toFix }}</span>
    <div class="row">
      <mat-slider thumbLabel [displayWith]="formatLabel" [min]="sliderConfig.volMin"
      [max]="sliderConfig.volMax" color="primary" [formControl]="form.get('volume')"></mat-slider>
  <!--     <mat-form-field>
        <mat-label>Volume</mat-label>
        <input matInput type="number" [formControl]="form.get('volume')">
      </mat-form-field> -->
    </div>
  </article>

  <!-- Pool information -->

  <article class="pool-information" *ngIf="poolData">
    <h3>
      Assets <span>&#x1F447;</span>
    </h3>
    <div>
      <ng-container *ngFor="let asset of poolData?.assets; let last = last">
        <span>{{ asset.symbol }} {{ last ? '': '-  ' }}</span>
      </ng-container>
    </div>
  </article>

</main>
<footer></footer>