@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@700&display=swap");

:host {
  margin: 20px 0px;
  max-width: 1024px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  border: 1px solid rgb(100, 100, 100);
  border-radius: 5px;
  background: linear-gradient(rgba(66, 66, 66, 0.308) 97%, #c2185b 105%);
}

mat-toolbar {
  display: flex;
  justify-content: center;
  border-radius: 5px;

  h1 {
    margin-right: 10px;
    letter-spacing: 1px;
    font-family: "Ubuntu Mono", monospace;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;

  app-connect-button {
    display: block;
    margin: 20px;
    align-self: flex-end;
  }
}

mat-spinner {
  align-self: center;
}


h3 {
  text-align: center;
}

table {
  width: 100%;
  height: 100%;
  td,
  th {
    text-align: end;
  }
}

mat-divider {
  width: 100%;
}
