<mat-toolbar color="primary" class="mat-elevation-z2">
  <h1>Uniswap ROI Calculator</h1>
  <mat-icon>calculate</mat-icon>
</mat-toolbar>
<main>
  <app-connect-button></app-connect-button>

  <article class="search-bar">
    <mat-form-field appearance="outline">
      <mat-label>Type in pool address</mat-label>
      <input matInput [formControl]="searchCtrl" type="text" autocomplete="off">
    </mat-form-field>
    <ng-container *ngIf="loading.asObservable() | async; else search">
      <mat-spinner color="primary"></mat-spinner>
    </ng-container>
    <ng-template #search>
      <button mat-raised-button color="primary" (click)="searchPool()">Search for Pool <mat-icon>search</mat-icon>
      </button>
    </ng-template>
  </article>

  <!-- Inputs -->
  <article class="inputs" *ngIf="showInputs.asObservable() | async">
    <mat-card>

      <!-- Pool information -->

      <h3 class="primary-color">Initial Values (During Deposit)</h3>

      <div class="pool-data">
        <ng-container *ngFor="let token of poolData.assets">
          <span>
            <strong>{{ token.symbol || 'No symbol provided' }}:</strong>
            {{ (this.poolData.usdLiquidity / 2) / token.balance | toFix }} $
          </span>
        </ng-container>
      </div>
      <div class="pool-data">
        <span><strong>Liquidity:</strong> {{ poolData.usdLiquidity | parseBigNumber }} $</span>
        <span><strong>Volume:</strong> {{ poolData.usdVolume | parseBigNumber }} $</span>
      </div>
    </mat-card>

    <h3 *ngIf="showInputs.asObservable() | async">👉 <a mat-button
        [href]="'https://etherscan.io/address/' + poolData.exchange" target="_blank"
        class="primary-color">{{poolData.poolName || 'Nothing found'}}</a></h3>

    <mat-card class="inputs">
      <h3 class="primary-color">Final Values (During Withdraw)</h3>
      <ng-container *ngFor="let asset of poolData.assets; let index = index">
        <mat-form-field appearance="outline">
          <mat-label>{{ asset.symbol }} price in USD</mat-label>
          <input matInput type="number" [formControl]="form.get('tokens').controls[index]" autocomplete="off"
            [min]="inputConfig[index].min" [max]="inputConfig[index].max">
        </mat-form-field>
      </ng-container>

      <span matTooltip="Volume During Deposit" class="tooltip">Volume: {{ form.get('volume').value | toFix }}</span>
      <div class="row">
        <mat-slider thumbLabel [displayWith]="formatLabel" [min]="inputConfig.volMin" [max]="inputConfig.volMax"
          color="primary" [formControl]="form.get('volume')"></mat-slider>
      </div>

      <span matTooltip="Liquidity During Deposit" class="tooltip">Liquidity:
        {{ form.get('liquidity').value | toFix }}</span>
      <div class="row">
        <mat-slider thumbLabel [displayWith]="formatLabel" [min]="inputConfig.liqMin" [max]="inputConfig.liqMax"
          color="primary" [formControl]="form.get('liquidity')"></mat-slider>
      </div>
    </mat-card>


    <mat-form-field appearance="outline">
      <mat-label>Investment in USD</mat-label>
      <input matInput type="number" [formControl]="form.get('investment')" autocomplete="off" min="1"
        [max]="poolData.usdLiquidity * 2">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Days in pool</mat-label>
      <input matInput type="number" [formControl]="form.get('days')" autocomplete="off" min="1" max="365">
    </mat-form-field>
  </article>


  <!-- Pool information -->

  <article class="pool-information" *ngIf="showInputs.asObservable() | async"
    style="width: 100%; padding: 20px; height: 300px;">
    <table>
      <tr>
        <th></th>
        <th>Pool</th>
        <th>HODL Token</th>
        <th>HODL Token2</th>
        <th>HODL 50% - 50%</th>
      </tr>
      <tr>
        <td><strong>Invested Amount</strong></td>
        <td>{{ form.get('investment').value }}</td>
        <td>{{ form.get('investment').value }}</td>
        <td>{{ form.get('investment').value }}</td>
        <td>{{ form.get('investment').value }}</td>
      </tr>
      <mat-divider></mat-divider>
      <tr>
        <td><strong>Price Appreciation</strong></td>
        <td>{{ roiResult.get('priceAppreciationForPool') }}</td>
        <td>{{ roiResult.get('priceAppreciationHODLTokenOne') }}</td>
        <td>{{ roiResult.get('priceAppreciationHODLTokenTwo') }}</td>
        <td>{{ roiResult.get('priceAppreciationHODL5050') }}</td>
      </tr>
      <mat-divider></mat-divider>
      <tr>
        <td><strong>Impermenant Loss</strong></td>
        <td>{{ roiResult.get('impermenantLoss') }}</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
      </tr>
      <mat-divider></mat-divider>
      <tr>
        <td><strong>Fees</strong></td>
        <td>{{ roiResult.get('fees') }}</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
      </tr>
      <mat-divider></mat-divider>
      <tr>
        <td><strong>Total</strong></td>
        <td>{{ roiResult.get('totalPool') }}</td>
        <td>{{ roiResult.get('totalHODLTokenOne') }}</td>
        <td>{{ roiResult.get('totalHODLTokenTwo') }}</td>
        <td>{{ roiResult.get('total5050') }}</td>
      </tr>
      <mat-divider></mat-divider>
      <tr>
        <td><strong>ROI</strong></td>
        <td>{{ roiResult.get('roiPool') }}%</td>
        <td>{{ roiResult.get('ROIHODLTokenOne') }}%</td>
        <td>{{ roiResult.get('ROIHODLTokenTwo') }}%</td>
        <td>{{ roiResult.get('roi5050') }}%</td>
      </tr>
      <mat-divider></mat-divider>
    </table>
  </article>

</main>