@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@700&display=swap");

:host {
  margin: 20px 0px;
  max-width: 1024px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: #eee;
}

header {
  margin-top: 20px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;

  app-connect-button {
    display: block;
    margin: 20px;
    align-self: flex-end;
  }
}
