@import '~@angular/material/theming';

$uniswap-roi-primary: mat-palette($mat-pink, 500);
$uniswap-roi-accent: mat-palette($mat-blue);
$uniswap-roi-warn: mat-palette($mat-red);

$uniswap-roi-theme: mat-light-theme((
  color: (
    primary: $uniswap-roi-primary,
    accent: $uniswap-roi-accent,
    warn: $uniswap-roi-warn,
  )
));

@include angular-material-theme($uniswap-roi-theme);


* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #eee;
}

span.pink {
  color: #e91e63;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Fonts */

h1 {
  text-align: center;
  font-family: "Ubuntu Mono", sans-serif !important;
  font-weight: 700;
}
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  font-family: "Ubuntu Mono", sans-serif !important;
  font-weight: 400;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
