/* You can add global styles to this file, and also import other style files */

html,
body {
  background-color: rgb(24, 24, 24);
}
body {
  display: flex;
  justify-content: center;
  color: #fafafa;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
