/* You can add global styles to this file, and also import other style files */

html,
body {
  background-color: rgb(24, 24, 24);
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  color: #fafafa;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.primary-color {
  color: #c2185b;
}