<h3>👉 <a mat-button [href]="'https://uniswap.info/pair/' + (poolAddress | async)" target="_blank"
    class="primary-color">{{ (tokenOne$ | async).symbol }} - {{ (tokenTwo$ | async).symbol }} Uniswap v2 Pool </a></h3>

<mat-accordion multi>

  <!-- Pool Information -->

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Search Results
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div fxLayout fxLayoutAlign="space-evenly start" fxLayoutGap="20px">
      <div fxLayout="column" fxLayoutAlign="center center">
        <ng-container *ngIf="tokenOne$ | async as token">
          <strong>{{ token.symbol || 'No symbol provided' }}</strong>
          <span>{{ token.priceUSD | number }}$</span>
        </ng-container>
      </div>
      <div fxLayout="column" fxLayoutAlign="center center">
        <ng-container *ngIf="tokenTwo$ | async as token">
          <strong>{{ token.symbol || 'No symbol provided' }}</strong>
          <span>{{ token.priceUSD | number }}$</span>
        </ng-container>
      </div>
      <div fxLayout="column" fxLayoutAlign="center center">
        <strong>Volume</strong>
        <span>{{ volume | async | number }} $</span>
      </div>
      <div fxLayout="column" fxLayoutAlign="center center">
        <strong>Liquidity</strong>
        <span>{{ liquidityUSD | async | number }} $</span>
      </div>
    </div>

  </mat-expansion-panel>

  <!-- Inputs -->

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        User Specification
      </mat-panel-title>
    </mat-expansion-panel-header>

    <h3>Choose final values during withdraw from pool</h3>

    <article fxLayoutAlign="start center" fxLayout="column" fxLayoutGap="15px">
      <div fxLayout fxLayoutAlign="center start" fxLayoutGap="20px">
        <ng-container *ngIf="tokenOne$ | async as token">
          <mat-form-field appearance="outline">
            <mat-label>{{ token.symbol }} price in USD</mat-label>
            <input matInput type="number" [formControl]="form.get('tokenOne')" autocomplete="off">
          </mat-form-field>
        </ng-container>
        <ng-container *ngIf="tokenTwo$ | async as token">
          <mat-form-field appearance="outline">
            <mat-label>{{ token.symbol }} price in USD</mat-label>
            <input matInput type="number" [formControl]="form.get('tokenTwo')" autocomplete="off">
          </mat-form-field>
        </ng-container>
      </div>

      <mat-slider thumbLabel [displayWith]="formatLabel" tickInterval="1000" min="1" max="9999999999" color="primary"
        [formControl]="form.get('volume')">
      </mat-slider>
      <span>Volume: {{form.get('volume').value | number}}</span>

      <mat-divider></mat-divider>

      <mat-slider thumbLabel [displayWith]="formatLabel" tickInterval="1000" min="1" max="9999999999" color="primary"
        [formControl]="form.get('liquidity')">
      </mat-slider>
      <span>Liquidity:{{form.get('liquidity').value | number}}</span>

      <div fxLayout fxLayoutAlign="center start" fxLayoutGap="20px">
        <mat-form-field appearance="outline">
          <mat-label>Investment in USD</mat-label>
          <input matInput type="number" [formControl]="form.get('investment')" autocomplete="off">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Days in pool</mat-label>
          <input matInput type="number" [formControl]="form.get('days')" autocomplete="off" min="1" max="365">
        </mat-form-field>
      </div>
    </article>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        ROI Table (Pool vs HODL)
      </mat-panel-title>
    </mat-expansion-panel-header>

    <ng-container *ngIf="isConnected$ | async; else connect">

      <article class="pool-information" *ngIf="(roi | async) as roi">
        {{roi |json}}
        <table>
          <tr>
            <th></th>
            <th>Pool</th>
            <th>HODL {{ (tokenOne$ | async).symbol }}</th>
            <th>HODL {{ (tokenTwo$ | async).symbol }}</th>
            <th>HODL 50% - 50%</th>
          </tr>
          <tr>
            <td><strong>Invested Amount</strong></td>
            <td>{{ form.get('investment').value | number }} </td>
            <td>{{ form.get('investment').value | number }}</td>
            <td>{{ form.get('investment').value | number }}</td>
            <td>{{ form.get('investment').value | number }}</td>
          </tr>
          <mat-divider></mat-divider>
          <tr>
            <td><strong>Price Appreciation</strong></td>
            <td>{{ roi.priceAppreciationForPool | number }}</td>
            <td>{{ roi.priceAppreciationHODLTokenOne | number }}</td>
            <td>{{ roi.priceAppreciationHODLTokenTwo | number }}</td>
            <td>{{ roi.priceAppreciationHODL5050 | number }}</td>
          </tr>
          <mat-divider></mat-divider>
          <tr>
            <td><strong>Impermenant Loss</strong></td>
            <td>{{ roi.impermenantLoss | number }}</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
          </tr>
          <mat-divider></mat-divider>
          <tr>
            <td><strong>Fees</strong></td>
            <td>{{ roi.fees | number }}</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
          </tr>
          <mat-divider></mat-divider>
          <tr>
            <td><strong>Total</strong></td>
            <td>{{ roi.totalPool | number }}</td>
            <td>{{ roi.totalHODLTokenOne | number }}</td>
            <td>{{ roi.totalHODLTokenTwo | number }}</td>
            <td>{{ roi.total5050 | number }}</td>
          </tr>
          <mat-divider></mat-divider>
          <tr>
            <td><strong>ROI</strong></td>
            <td>{{ roi.roiPool | number }}%</td>
            <td>{{ roi.ROIHODLTokenOne | number }}%</td>
            <td>{{ roi.ROIHODLTokenTwo | number }}%</td>
            <td>{{ roi.roi5050 | number }}%</td>
          </tr>
          <mat-divider></mat-divider>
        </table>
      </article>

    </ng-container>
    <ng-template #connect>
      <h3>Connect to Meta Mask to see your results</h3>
      <div fxLayout fxLayoutAlign="center start">
        <app-connect-button></app-connect-button>
      </div>
    </ng-template>
  </mat-expansion-panel>
</mat-accordion>